<% layout("/layouts/boilerplate") %>
<div class="row justify-content-center">
  <div class="col-6 col-12 col-md-8 col-lg-6">
    <h3 class="mb-3 mt-3 text-center text-md-start">Edit your Listing</h3>
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label fw-semibold">Title</label>
        <input
          name="listing[title]"
          placeholder="enter your title"
          type="text"
          class="form-control"
          id="title"
          value="<%= listing.title %>"
          required
        />
        <div class="invalid-feedback">Please enter a title</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label fw-semibold"
          >Description</label
        >
        <textarea
          name="listing[description]"
          placeholder="enter your description"
          class="form-control"
          id="description"
          required
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Enter a short description</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label fw-semibold"
          >Upload new Image</label
        >
        <input
          name="listing[image]"
          type="file"
          class="form-control"
          id="image"
        />
      </div>
      <div class="row">
        <div class="col-12 col-md-5 mb-3">
          <label for="price" class="form-label fw-semibold">Price</label>
          <input
            name="listing[price]"
            placeholder="price"
            type="number"
            class="form-control"
            id="price"
            value="<%= listing.price %>"
            required
          />
          <div class="invalid-feedback">Enter a valid price</div>
        </div>
        <div class="col-12 col-md-7 mb-3">
          <label for="country" class="form-label fw-semibold">Country</label>
          <input
            name="listing[country]"
            placeholder="country"
            type="text"
            class="form-control"
            id="country"
            value="<%= listing.country %>"
            required
          />
          <div class="invalid-feedback">Enter a valid country name</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label fw-semibold">Location</label>
        <input
          name="listing[location]"
          placeholder="location"
          type="text"
          class="form-control"
          id="location"
          value="<%= listing.location %>"
          required
        />
        <div class="invalid-feedback">Enter a valid location</div>
      </div>
      <div class="d-grid">
        <button class="btn btn-dark update-btn mb-3">Update</button>
      </div>
    </form>
  </div>
</div>
